@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100% ;
    background: #E6E8E6;
}

.cabecalho {
    justify-content: space-evenly;
    background: #F15025;
    display: flex;
    flex-direction: row;
    padding: 24px;
    align-items: center;
    gap: 42px;

}s

.cabecalho-imagem {
    height: 38px;
    align-items: center;
}  

.cabecalho-menu {
    display: flex;
    gap: 42px;
    align-items: center;
    
}

.cabecalho-menu-item {
    font-family: 'Montserrat', sans-serif;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 24px;
}

.cabecalho-menu-item-button {
    font-family: 'Montserrat', sans-serif;
    height: 62px;
    width: 150px;
    color: #FFFFFF;
    font-size: 30px;
    font-weight: 400;
    background-color: #191919;
    border-radius:14px;   
    border: none;
}

.cabecalho-menu-item-button:hover {
    background-color:#302F2F ;
}

.conteudo {
    margin-bottom: 48px;
    border-top: 0.4px solid  #191919; 
}

.conteudo-principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding-left: 85px;
    padding-right: 85px;
  }

  .conteudo-principal-escrito {
    display: flex;
    flex-direction: column;
    gap: 42px;
    padding-top: 50px;
  }

.conteudo-principal-escrito-titulopr {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 85px;
    color: #191919;
}

.conteudo-principal-escrito-titulo1 {
   color: #F15025
}

.conteudo-principal-escrito-botao {
    background-color: #191919;
    border-radius: 24px;
    width: 380px;
    height: 60px;
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 36px;
    color:#FFFFFF;
}

.conteudo-principal-escrito-botao:hover {
    background-color:#302F2F ;
}

.conteudo-principal-imagem {
    margin-top: 64px;
    height: 430px;
}

.conteudo-secundario-div {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.conteudo-secundario {
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around
}

.conteudo-secundario-titulo { 
    margin-top: 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 56px;
    color: #191919;

}

.conteudo-secundario-titulo1 { 
    display: flex;
    padding-top: 24px;
    flex-direction: column;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 56px;
    color: #191919;

}

.conteudo-secundario-titulo-button {
    margin-top: 28px;
    background-color: #F15025;
    text-align: center;
    width: 450px;
    height: 60px;
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 56px;
    color:#FFFFFF;

}

.rodape {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background: #191919;
    padding: 32px;
    border-top: 0.4px solid  #F15029; 
}

.rodape-todos-direitos {
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    font-size: 22px;
    color: white;
}